<p><i>Important! Server must be running min. Gerrit version 2.6!</i></p>
<%= simple_form_for(@server, :html => {:class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors @server %>
  <%= f.input :name, :required => true, :autofocus => true %>
  <%= f.input :url, :required => true, :hint => "no '/' at the end" %>
  <%= f.input :username, :required => true %>
  <%= f.input :password, :required => true, :label => 'HTTP password' %>
  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to "Cancel", :back, :class => 'btn' %>
<% end %>